<div class="container">
  <div class="row">
    <div class="col-md-5">

        <div>
          <form name="myform" ng-submit="submitForm(myform.$valid)" novalidate>

          <center><strong style="font-size:25px" class="label label-info"><b><u>Change Password</u></b></strong></center><br>
              <input style="margin-top:12px" name="cpassword" type="password" placeholder="Enter Current Password" ng-model="user.password" class="form-control" required />
              <p ng-show="myform.cpassword.$invalid && !myform.cpassword.$pristine" class="help-block" style="color:red"><b>Please Enter current password.</b></p>
              <br>
              <input type="password" placeholder="Enter New Password" ng-model="user.npassword" name="password" class="form-control" required />
                <p ng-show="myform.password.$invalid && !myform.password.$pristine" class="help-block" style="color:red"><b>Please Enter New password.</b></p>
              <br>

              <input type="password" placeholder="Confirm Password" ng-model="user.cppassword" name="cppassword" class="form-control"   required />
                <p ng-show="myform.cppassword.$invalid && !myform.cppassword.$pristine" class="help-block" style="color:red" ><b>Please Enter Confirm password.</b></p>

              <br>
              <center><a href="" class="btn btn-success" ng-click="changepassword()" ng-disabled="myform.$invalid" style="margin-top: 20px">Change Password</a></center>
        </div>
    </div>

    <div class="col-md-7">

      <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="carousel slide" id="carousel-314644">
  				<ol class="carousel-indicators">
  					<li class="active" data-slide-to="0" data-target="#carousel-314644">
  					</li>
  					<li data-slide-to="1" data-target="#carousel-314644">
  					</li>
  					<li data-slide-to="2" data-target="#carousel-314644">
  					</li>
  				</ol>
  				<div class="carousel-inner">
  					<div class="item active">
  						<img alt="Carousel Bootstrap First" src="cimage/add2.jpg" />
  						<div class="carousel-caption">
  							<h4>

  							</h4>
  							<p>

  							</p>
  						</div>
  					</div>
  					<div class="item">
  						<img alt="Carousel Bootstrap Second" src="cimage/add3.jpg" />
  						<div class="carousel-caption">
  							<h4>

  							</h4>
  							<p>

  							</p>
  						</div>
  					</div>
  					<!-- <div class="item">
  						<img alt="Carousel Bootstrap Third" src="cimage/add1.jpg" />
  						<div class="carousel-caption">
  							<h4>

  							</h4>
  							<p>

  							</p>
  						</div>
  					</div> -->
  				<!-- </div> <a class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"  data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
  			</div>
  		</div>
  	</div>
  </div>


  </div>

</div>
