<style>
table { width: 100%; border-collapse: collapse; }
td { height: 150px;
    text-align: right; vertical-align: center; }

</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" id="carousel-355379">
        <!-- <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-355379">
          </li>
          <li data-slide-to="1" data-target="#carousel-355379">
          </li>

        </ol> -->
        <div class="carousel-inner">
          <div class="item active">
            <img alt="Carousel Bootstrap First"  src="cimage/best.jpg" />
            <div class="carousel-caption">
              <h4>

              </h4>
              <p>

              </p>
            </div>
          </div>
          <div class="item">
            <img alt="Carousel Bootstrap Second" src="cimage/image2.jpg" />
            <div class="carousel-caption">
              <h4>

              </h4>
              <p>

              </p>
            </div>

          </div>
<center>
  <button  ng-click="check()" style="padding: 0;border: none;background: none; border: none;
    outline:none;">

<img alt="Carousel Bootstrap Second" src="cimage/booknow.png"   />

</button>
</center>
        </div> <a class="left carousel-control" href="#carousel-355379" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-355379" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
<hr>

    </div>
  </div>




</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table-responsive">
        <tr>
    <td><span>   <img src="cimage/icon1.gif" width="100px" height="100px" alt="" >  <Strong style="font-size:30px;margin-left:10px;">Quality<strong>
  <p style="font-size:15px;">
    Well trained chauffeurs<br><br>
    Young, well-maintained car fleet<br><br>
    Amenities for comfort<br><br>
</P>
    </span>
    </td>
    <td>
<span>
<span style="margin-top:-90px"> <img src="cimage/icon2.gif" width="90px" height="90px" alt="" >  <Strong style="font-size:30px;margin-left:10px;">Reliability<strong></span>
  <p style="font-size:15px;">

      India's largest car hire/rental company<br><br>
      In car GPS devices for extra safety<br><br>
      Transparent pricing structure<br><br>

</P>
</span>
</td>
<td >
  <span>
    <span>
    <span style="margin-top:-90px"> <img src="cimage/icon3.gif" width="90px" height="90px" alt="" >  <Strong style="font-size:30px;margin-left:10px;">Convenience<strong></span>
      <p style="font-size:15px;">


    Available across major cities<br><br>

    Book through web or phone<br><br>
    Pay by cash or card<br><br>


    </P>
    </span>
</td>
</tr>
</table>



        <!-- <center><span > <img src="cimage/icon1.gif" width="100px" height="100px" alt="" style="margin-bottom:10px">  <Strong style="font-size:30px;margin-left:10px;">Quality<strong></span><center> -->
        <!-- <b></b>

    Well trained chauffeurs
    Young, well-maintained car fleet
    Amenities for comfort -->

    </div>
  </div>
</div>
