<style>
 th, tr,td{
   text-align: center;
   font-size:20px;
padding: 10px;


},

</style>
<div class="container">
<br>
  <ul class="nav  nav-tabs nav-pills nav-justified" style="background-co">
    <li class="active"><a data-toggle="pill" href=".now"><b>Current Booking</b></a></li>
    <li><a data-toggle="pill" href=".Advance"><b>Advance Booking</b></a></li>
    <li><a data-toggle="pill" href=".History"><b>Booking History</b></a></li>
    <li><a data-toggle="pill" href=".cancle"><b>canceled Booking</b></a></li>
  </ul>
</div>

<div class="container-fluid" style="padding:50px">
    <div class="row">
        <div class="col-sm-12 ;" >
          <div class="tab-content">


            <div id="now" class="tab-pane fade in active ; now">
            <span style="color:red;font-size:.8cm;font-weight:bold;"><center><u>Your current Bookings</u></center></span><br>
            <center><input type="text" placeholder="search" class="form-control" style="width:50%;font-size:2em" ng-model="data"/></center>
            <br><br>


            <table class="table table-hover table-responsive table-striped ; label-info" ng-if="client2.length>0">
               <thead>
                 <tr>
                   <th>Booking ID</th>
                    <th>Driver Name</th>
                    <th>Driver MobileNo</th>
                    <th>Booking Type</th>
                    <th>vehicle Number</th>

                    <th>Pickup location</th>
                    <th>pickup Date and Time</th>
                    <th>Destination</th>
                    <!-- <th>Total bill</th> -->
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="s in client2  | filter:data">
                   <td>
                     {{s._id}}
                   </td>
                  <td>
                    {{s.Drivername}}
                  </td>
                  <td>
                    {{s.Drivermobilenumber}}
                  </td>
                  <td>
                    {{s.Bookingtype}}
                  </td>
                  <td>
                    {{s.Vehiclenumber}}
                  </td>
                  <td>
                  {{s.Pickuplocation}}
                  </td>
                  <td>

                      {{s.PickupDate}}
                  </td>
                  <td>
                    {{s.Deastinationlocation}}
                  </td>
                  <!-- <td>
                    {{s.Fare}}
                  </td> -->

                 </tr>
               </tbody>
             </table>

             <center><p style="margin:50px"><strong style="font-size:25px;  "  ng-if="client2.length==0" class="label label-info">
               <b>
                 <u>You did't book any cab </u>
               </b>
             </strong>
             </p>
             </center>
            </div>

             <br>













          <div id="Advance" class="tab-pane fade ; Advance">
          <span style="color:red;font-size:.8cm;font-weight:bold;"><center><u>Your Advance Bookings</u></center></span><br>
<center><input type="text" placeholder="search" class="form-control" style="width:50%;font-size:2em" ng-model="data"/></center>
<br><br>


          <table class="table table-hover table-responsive table-striped ; label-info" ng-if="client1.length>0">
             <thead>
               <tr>
                 <th>Booking ID</th>
                  <th>Driver Name</th>
                  <th>Driver MobileNo</th>
                  <th>Booking Type</th>
                  <th>vehicle Number</th>

                  <th>Pickup location</th>
                  <th>pickup Date and Time</th>
                  <th>Destination</th>
                  <!-- <th>Total bill</th> -->
               </tr>
             </thead>
             <tbody>
               <tr ng-repeat="s in client1  | filter:data">
                 <td>
                   {{s._id}}
                 </td>
                <td>
                  {{s.Drivername}}
                </td>
                <td>
                  {{s.Drivermobilenumber}}
                </td>
                <td>
                  {{s.Bookingtype}}
                </td>
                <td>
                  {{s.Vehiclenumber}}
                </td>
                <td>
                {{s.Pickuplocation}}
                </td>
                <td>

                    {{s.PickupDate}}
                </td>
                <td>
                  {{s.Deastinationlocation}}
                </td>
                <!-- <td>
                  {{s.Fare}}
                </td> -->
                <td>
                  <a href="" ng-click="canceled(s)" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
                </td>
               </tr>
             </tbody>
           </table>

           <center><p style="margin:50px"><strong style="font-size:25px;  "  ng-if="client1.length==0" class="label label-info">
             <b>
               <u>No Data For Advance Booking</u>
             </b>
           </strong>
           </p>
           </center>
  </div>

           <br>



<div id="History" class="tab-pane fade ; History">


    <span style="color:red;font-size:.8cm;font-weight:bold;"><center><u>Booking History</u></center></span><br>

<center><input type="text" placeholder="search" class="form-control" style="width:50%;font-size:2em" ng-model="data"/></center><br><br>





            <table class="table table-hover table-responsive table-striped ; label-info"  ng-if="client.length>0">
               <thead>
                 <tr>
                   <th>Booking ID</th>
                    <th>Driver Name</th>
                    <th>Driver MobileNo</th>
                    <th>Booking Type</th>
                    <th>vehicle Number</th>
                    <th>Pickup location</th>
                    <th>Pickup Date and Time</th>
                    <th>Destination</th>
                    <th>Total bill</th>
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="d in client | filter:data ">
                   <td>
                     {{d._id}}
                   </td>
                  <td>
                    {{d.Drivername}}
                  </td>
                  <td>
                    {{d.Drivermobilenumber}}
                  </td>
                  <td>
                    {{d.Bookingtype}}
                  </td>
                  <td>
                    {{d.Vehiclenumber}}
                  </td>
                  <td>
                  {{d.Pickuplocation}}
                  </td>
                  <td>

                      {{d.PickupDate}}
                  </td>
                  <td>
                    {{d.Deastinationlocation}}
                  </td>
                  <td>
                    {{d.Fare}}
                  </td>
                  <td>
                    <!-- <a href="" ng-click="canceled(d)" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-trash"></span> -->
          </a>
                  </td>
                 </tr>
               </tbody>
             </table>


             <center><p style="margin:50px"><strong style="font-size:25px;  "  ng-if="client.length==0" class="label label-info">
               <b>
                 <u>No data for booking history</u>
               </b>
             </strong>
             </p>
             </center>
           </div>



           <div id="cancle" class="tab-pane fade ; cancle">
           <span style="color:red;font-size:.8cm;font-weight:bold;"><center><u>Canceled Bookings</u></center></span><br>
           <center><input type="text" placeholder="search" class="form-control" style="width:50%;font-size:2em" ng-model="data"/></center>
           <br><br>


           <table class="table table-hover table-responsive table-striped ; label-info" ng-if="client3.length>0">
              <thead>
                <tr>
                  <th>Booking ID</th>
                   <th>Driver Name</th>
                   <th>Driver MobileNo</th>
                   <th>Booking Type</th>
                   <th>vehicle Number</th>

                   <th>Pickup location</th>
                   <th>pickup Date and Time</th>
                   <th>Destination</th>
                   <!-- <th>Total bill</th> -->
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="s in client3  | filter:data">
                  <td>
                    {{s._id}}
                  </td>
                 <td>
                   {{s.Drivername}}
                 </td>
                 <td>
                   {{s.Drivermobilenumber}}
                 </td>
                 <td>
                   {{s.Bookingtype}}
                 </td>
                 <td>
                   {{s.Vehiclenumber}}
                 </td>
                 <td>
                 {{s.Pickuplocation}}
                 </td>
                 <td>

                     {{s.PickupDate}}
                 </td>
                 <td>
                   {{s.Deastinationlocation}}
                 </td>
                 <!-- <td>
                   {{s.Fare}}
                 </td> -->

                </tr>
              </tbody>
            </table>

            <center><p style="margin:50px"><strong style="font-size:25px;  "  ng-if="client3.length==0" class="label label-info">
              <b>
                <u>No data for booking cancellation</u>
              </b>
            </strong>
            </p>
            </center>
           </div>

            <br>






        </div>
      </div>

    </div>
</div>
